<ion-header mode="ios">
  <ion-toolbar mode="ios" style="--background:#E0F2F7" >
    <ion-title mode="ios">
      포인트샵
    </ion-title>
    <ion-label (click)="goToBack()" mode="ios">
      <ion-icon class = "icon" ios="ios-arrow-round-back" md="md-arrow-round-back" ></ion-icon>
    </ion-label>
  </ion-toolbar>
</ion-header>

<ion-content style="--background:#E0F2F7;" >
  <br><br><br><br><br><br><br><br><br><br><br><br>
  <ion-item style="--background:#E0F2F7;">
      <ion-label>광고 스킵 1회권</ion-label>
      <ion-button slot="end" color="light">
        구매
      </ion-button>
    </ion-item>
</ion-content>




