<ion-header mode="ios">
  <ion-toolbar mode="ios" style="--background:#E0F2F7" >
    <ion-title mode="ios">
      이용약관
    </ion-title>
    <ion-label (click)="goToBack()" mode="ios">
      <ion-icon class = "icon" ios="ios-arrow-round-back" md="md-arrow-round-back" ></ion-icon>
    </ion-label>
  </ion-toolbar>
</ion-header>
<ion-content>

</ion-content>