<ion-header mode="ios">
  <ion-toolbar mode="ios">
    <ion-title mode="ios">
      고민 읽기
    </ion-title>
    <ion-label (click)="goToBack()" mode="ios">
      <ion-icon class = "icon" ios="ios-arrow-round-back" md="md-arrow-round-back" ></ion-icon>
    </ion-label>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid>
<ion-row style="border-bottom: 1px solid rgb(197, 197, 197);">
  <ion-col size='2' *ngFor="let readData of readData">
    [{{readData.cate}}]
  </ion-col>
  <ion-col *ngFor="let readData of readData">
    {{readData.title}}
  </ion-col>
  <ion-col style="text-align: right" size='2'>
      <ion-button style = "width:30px; height: 30px;" (click)="reportAlert()">신고 </ion-button>
    </ion-col>
</ion-row>
</ion-grid>
<ion-grid margin-bottom=5px *ngFor="let readData of readData" >
<ion-item style="--border-width:1px; --border-color:rgb(100, 136, 255); --border-radius:8px; --background: rgb(243, 248, 250);">
{{readData.script}}
</ion-item>
</ion-grid>
<ion-item style="--border-width:3px; --border-color:#A4A4A4; --border-radius:8px">
<ion-input placeholder="댓글입력" type ="text" [(ngModel)]="commentWrite">  
</ion-input>
<ion-button (click)="setCommentAlert()">전송</ion-button> 
</ion-item>


<ion-row  *ngFor="let commentData of commentData" style="margin-top: 8px; margin-bottom:8px;">
<ion-col>
  <ion-item style=" --background:#E0F2F7 ;">
    {{commentData.name}} :{{commentData.comment}}
  </ion-item>
</ion-col>
<ion-button color="primary"  (click)="goodComment(commentData.key,commentData.goodComment)" > <ion-icon ios="ios-thumbs-up" md="md-thumbs-up"></ion-icon> : {{commentData.goodComment}}  </ion-button>
<ion-button color="primary"  (click)="badComment(commentData.key,commentData.badComment)" > <ion-icon ios="ios-thumbs-down" md="md-thumbs-down"></ion-icon> : {{commentData.badComment}}</ion-button>
</ion-row>
</ion-content>
