<ion-header>
  <ion-toolbar style="--background:#E0F2F7" >
    <ion-title >
      설정
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
    <br><br><br><br><br><br>
  <ion-item routerLink="/profile-setting" style="--background:#E0F2F7">
    <ion-icon name="construct"></ion-icon>
    <ion-label>프로필 설정</ion-label>
  </ion-item>

  <br><br>

  <ion-item routerLink="/receive-settings" style="--background:#E0F2F7" >
    <ion-icon name="alarm"></ion-icon>
    <ion-label>고민수신 설정</ion-label>
  </ion-item>

  <br><br>

  <ion-item routerLink="/point-shop" style="--background:#E0F2F7" >
    <ion-icon name="cart"></ion-icon>
    <ion-label>포인트샵</ion-label>
  </ion-item>

  <br><br>

  <ion-item routerLink="/tospage" style="--background:#E0F2F7" >
    <ion-icon name="paper"></ion-icon>
    <ion-label>이용약관</ion-label>
  </ion-item>
  
  
</ion-content>
