<ion-content>
  <div class="divg">
    <div class="divc">
      <img src="assets/logo.png" width="100px" height="100px" style="margin-top:30%;">
    </div>
    <div class="divc">
      <ion-card class="card">
        <ion-card-content>
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <ion-item class="loginput">
              <ion-input placeholder="이메일" type="email" formControlName="email"></ion-input>
            </ion-item>
            <ion-item class="loginput">
              <ion-input placeholder="비밀번호" type="password" formControlName="password"></ion-input>
            </ion-item>
          </form>
        </ion-card-content>
      </ion-card>
    </div>
    <div class="divc">
      <button (click)="onSubmit()" type="submit" class="btn btn-primary" style="width: 93%; height: 40px; border-radius: 6px; margin-bottom: 5px;" >로그인</button>
    </div>
    <div class="divc">
      <button (click)="goToRegiter()" style="width: 93%; height: 40px; border-radius: 6px;">회원가입</button>
    </div>
  </div>
  </ion-content>
  