:host {
    ion-content {
        --background:#A9E2F3;
    }
}
.divg{
    width: 100%;
    height: 95%;
    text-align: center;
}
.divc{
    vertical-align:middle;
    button{
        background: #81BEF7;
        color:#fff;
    }
}

.card {
    --background:#E0F2F7 ;
}
.loginput {
    --lines:full;
    --background:#E0F2F7;
}
