<ion-tabs>

  <ion-tab-bar slot="bottom" style="--background:#E0F2F7">
    <ion-tab-button tab="tab1">
      <ion-icon name="people"></ion-icon>
      <ion-label>오픈 고민</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="lock"></ion-icon>
      <ion-label>비밀 고민</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="heart"></ion-icon>
      <ion-label>내 고민</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab4">
      <ion-icon name="cog"></ion-icon>
      <ion-label>설정</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
