<ion-header>
  <ion-toolbar>
    <ion-title>
          비밀 고민      
    </ion-title>
  </ion-toolbar>
</ion-header>
  <ion-content  [scrollEvents]="true" style="background: #E0F2F7;">
    <!--<ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content
        pullingIcon="arrow-dropdown"
        pullingText="Pull to refresh"
        refreshingSpinner="circles"
        refreshingText="Refreshing...">
      </ion-refresher-content>
    </ion-refresher>-->
    <ion-list *ngFor="let secretList of secretList" mode="ios" style="margin-bottom: -3px;">
      <ion-item (click)="goToReadRoom(secretList)" style="background: #E0F2F7;">
      <ion-label style="padding-bottom: 5px; border-bottom: 1px solid rgb(153, 153, 153);">
        <h2>{{secretList.title}}</h2>
        <p class="ptag">{{secretList.script}}</p>
      </ion-label>
      </ion-item>
    </ion-list>
    <!--<ion-infinite-scroll distance= "-100%" threshold="100px" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>-->
  </ion-content>
  <ion-fab vertical="bottom" horizontal="end" edge slot="fixed" style="margin-bottom: 50px;">
    <ion-fab-button color="danger" (click)="goWriteSecretWorry()">고민작성</ion-fab-button>
  </ion-fab>
 <!--     <ion-infinite-scroll threshold="50px" (ionInfinite)="loadData($event)"> -->