:host{
  ion-header{
    ion-toolbar{
      --background:#E0F2F7 ;
    }
  }
  ion-content{
    --background:#E0F2F7 ;
    ion-item{
      --background:#E0F2F7 ;
    }
  }
}
.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}
.myFixZone {
  height: 200px;
}
.ptag{
  text-align : right;
}
