<ion-header>
  <ion-toolbar>
    <ion-title>
          오픈 고민      
    </ion-title>
  </ion-toolbar>
</ion-header>
  <ion-item >
      <ion-tabs>
        <ion-tab-bar slot="top" style="--background: rgb(240, 252, 255);">
          <ion-tab-button  tab="진로" (click)="getOpenWorry(1)">
            <ion-label>진로</ion-label>
          </ion-tab-button>
          <ion-tab-button tab="연애" (click)="getOpenWorry(2)">
            <ion-label>연애</ion-label>
          </ion-tab-button>
          <ion-tab-button tab="일상" (click)="getOpenWorry(3)">
            <ion-label>일상</ion-label>
          </ion-tab-button>
          <ion-tab-button tab="기타" (click)="getOpenWorry(4)">
            <ion-label>기타</ion-label>
          </ion-tab-button>
        </ion-tab-bar>  
      </ion-tabs>
  </ion-item>
  <ion-content  [scrollEvents]="true" style="background: #E0F2F7;">
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content
        pullingIcon="arrow-dropdown"
        pullingText="Pull to refresh"
        refreshingSpinner="circles"
        refreshingText="Refreshing...">
      </ion-refresher-content>
    </ion-refresher>
    <ion-list *ngFor="let userDataLsit of userDataLsit" mode="ios" style="margin-bottom: -3px;">
      <ion-item (click)="goToReadRoom(userDataLsit)" style="background: #E0F2F7;">
      <ion-label style="padding-bottom: 5px; border-bottom: 1px solid rgb(153, 153, 153);">
        <h2>{{userDataLsit.title}}</h2>
        <p class="ptag">{{userDataLsit.name}}</p>
      </ion-label>
      </ion-item>
    </ion-list>
    <ion-infinite-scroll distance= "-100%" threshold="100px" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-content>
  <ion-fab vertical="bottom" horizontal="end" edge slot="fixed" style="margin-bottom: 50px;">
    <ion-fab-button color="danger" (click)="goWriteWorry()">고민작성</ion-fab-button>
  </ion-fab>
 <!--     <ion-infinite-scroll threshold="50px" (ionInfinite)="loadData($event)"> -->