<ion-header>
  <ion-toolbar style="--background:#E0F2F7 ;">
    <ion-title>
      내고민
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content style="--background:#E0F2F7 ;">
<ion-item>
  <ion-tabs>
      <ion-tab-bar slot="top" style="--background: rgb(240, 252, 255);">
        <ion-tab-button tap="오픈" (click)="getWorry('openmyroom')">
          <ion-label>오픈고민</ion-label>
        </ion-tab-button>
        <ion-tab-button tap="비밀" (click)="getWorry('secretmyroom')">
          <ion-label>비밀고민</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
  </ion-tabs>
</ion-item>
<ion-list *ngFor="let userData of userData" >
  <ion-item style="--background:#E0F2F7 ;">
      <ion-item-sliding>
          <ion-item (click)="goToReadRoom(userData)" style="--background:#E0F2F7 ;">
            <ion-label>      
              <h2>{{userData.title}}</h2>
              <p class="ptag">{{userData.name}}</p>
            </ion-label>
          </ion-item>    
          <ion-item-options side="end">
            <ion-item-option color="danger" (click)="removeRoomAlert(userData.key,userData.cate)">
              삭제
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
  </ion-item>
</ion-list>

</ion-content>