.textbox {
  height: 300px;
}
:host{
  ion-header{
    ion-toolbar{
      --background:#E0F2F7 ;
      ion-label{
        ion-icon{
          font-size: 25px;
        }
      }
    }
  }
  ion-content{
    --background:#E0F2F7 ;
  }

}
