<ion-header mode="ios">
  <ion-toolbar mode="ios">
    <ion-title mode="ios">
      고민 작성
    </ion-title>
    <ion-label (click)="goToBack()" mode="ios">
      <ion-icon class = "icon" ios="ios-arrow-round-back" md="md-arrow-round-back" ></ion-icon>
    </ion-label>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item style="--background:#E0F2F7 ;">
              <ion-input  placeholder="고민제목" type="text" [(ngModel)]="openWorryTitle" ></ion-input>
            </ion-item>
        </ion-col>
          <ion-col size="5">
                <ion-select okText="확인" cancelText="취소" [(ngModel)]="cate" placeholder="카테고리 선택">
                    <ion-select-option value="1">진로</ion-select-option>
                    <ion-select-option value="2">연애</ion-select-option>
                    <ion-select-option value="3">일상</ion-select-option>
                    <ion-select-option value="4">기타</ion-select-option>
                  </ion-select>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid>
        <ion-item style="--border-width:3px; --border-color:#A4A4A4; --border-radius:8px">
          <ion-textarea class="textbox" placeholder="고민을 작성해주세요." type="text" [(ngModel)]="openWorryScript"></ion-textarea>
        </ion-item>
      </ion-grid>

      <ion-grid>
      <ion-button (click)="showConfirmAlert()">작성하기</ion-button>
      </ion-grid>

</ion-content>
