<ion-header mode="ios">
  <ion-toolbar mode="ios" style="--background:#E0F2F7" >
    <ion-title mode="ios" >
      프로필설정
    </ion-title>
    <ion-label (click)="goToBack()" mode="ios">
      <ion-icon class = "icon" ios="ios-arrow-round-back" md="md-arrow-round-back" ></ion-icon>
    </ion-label>
  </ion-toolbar>
</ion-header>
<ion-content>
  <br><br>

<ion-grid style="margin-top: 100px" >
  <ion-item style="--background:#E0F2F7" >
    <ion-input  [(ngModel)]="changePassword "  placeholder ="비밀번호 변경" > </ion-input>
    <ion-button slot="end" color="light"(click) ='changePasswordAlert()'>확인</ion-button>
  </ion-item>
 <br><br>
  <ion-item style="--background:#E0F2F7" >
    <ion-input [(ngModel)]="changeNameValue" placeholder ="닉네임 변경" > </ion-input>
    <ion-button slot="end" color="light" (click) ='changeNameAlert()'>확인</ion-button>
  </ion-item>
  <h1><br></h1>

</ion-grid>
<div style="text-align: center">
  <div>
    <ion-button  disabled="false"  style="width: 70%; height: 40px;"  (click)="signOut()">로그아웃</ion-button>
  </div>
  <div>
    <ion-button  disabled="false"  style="width: 70%; height:40px;"  (click)="deleteUser()">회원탈퇴</ion-button>
  </div>
</div>
</ion-content>