<ion-header mode="ios">
  <ion-toolbar mode="ios" style="--background:#E0F2F7" >
    <ion-title mode="ios">
     수신설정
    </ion-title>
    <ion-label (click)="goToBack()" mode="ios">
      <ion-icon class = "icon" ios="ios-arrow-round-back" md="md-arrow-round-back" ></ion-icon>
    </ion-label>
  </ion-toolbar>
</ion-header>
<ion-content>
  <br>

  <ion-item style="--background:#E0F2F7">
    <ion-label slot="start">전체수신</ion-label>
    <ion-checkbox slot = "end"  [(ngModel)]="allReceive" (ionFocus)="SelectAll(0)"></ion-checkbox>
  </ion-item>

  <ion-item style="--background:#E0F2F7" >
    <ion-label slot="start">비수신</ion-label>
    <ion-checkbox slot = "end"  [(ngModel)]="notReceive" (ionFocus)="SelectNot(1)"></ion-checkbox>
  </ion-item>

  <ion-item style="--background:#E0F2F7" >
    <ion-label slot="start">선택수신</ion-label>
    <ion-checkbox slot = "end"  [(ngModel)]="selectReceive" (ionFocus)="SelecteAble()"></ion-checkbox>
  </ion-item>

  <br>
  <ion-item style="--background:#E0F2F7; text-align: center ">
  <ion-label >성별</ion-label>
   </ion-item>
  <ion-item style="--background:#E0F2F7; text-align: center ">
    <ion-label>전체</ion-label>
    <ion-label>남</ion-label>
    <ion-label>여</ion-label>
  </ion-item>
  <ion-grid>
    <ion-row>
      <ion-col style="text-align: center" >
        <ion-checkbox  [(ngModel)]="allGender" [disabled]="useSelecte" (ionFocus)="genderAll(10)"></ion-checkbox>
      </ion-col>      
      <ion-col style="text-align: center" >
        <ion-checkbox  [(ngModel)]="man" [disabled]="useSelecte" (ionFocus)="genderMan(20)"></ion-checkbox>
      </ion-col>
      <ion-col style="text-align: center" >
         <ion-checkbox  [(ngModel)]="woman" [disabled]="useSelecte" (ionFocus)="genderWoman(30)"></ion-checkbox>
      </ion-col>
    </ion-row>
  </ion-grid>
  <br>
  <ion-item style="--background:#E0F2F7; text-align: center ">
  <ion-label >나이</ion-label>
  </ion-item>
 
  <ion-item style="--background:#E0F2F7; text-align:center" >
    <ion-label>전체</ion-label>
    <ion-label>10대</ion-label>
    <ion-label>20대</ion-label>
  </ion-item>
<ion-grid>
<ion-row>
  <ion-col style="text-align: center">
    <ion-checkbox  [(ngModel)]="all" [disabled]="useSelecte" (ionFocus)="allAge(1)"></ion-checkbox>
  </ion-col>
  <ion-col style="text-align: center" >
    <ion-checkbox  [(ngModel)]="teens" [disabled]="useSelecte" (ionFocus)="teensAge(2)"></ion-checkbox>
  </ion-col>
  <ion-col style="text-align: center" >
     <ion-checkbox  [(ngModel)]="twenties" [disabled]="useSelecte" (ionFocus)="twentiesAge(3)"></ion-checkbox>
  </ion-col>
</ion-row>
</ion-grid>

<div style="text-align: center">
<div>
  <ion-button  disabled="false"  style="width: 50%; height: 30px; margin-top:30px"  (click)="saveSusin()">저장</ion-button>
</div>
</div>
</ion-content>