:host {
    ion-content {
        --background:#A9E2F3;

    }
    .div1{
    position:absolute;
    top:0;right:0;bottom:0;left:0;
    display:flex;
    align-items:center;
    justify-content:center;
    display:-webkit-flex;
    -webkit-align-item:center;
    -webkit-justify-content:center;
    vertical-align: middle;
    text-align: center;
}
}
.card {
    --background:#E0F2F7 ;
    ion-item{
        --background:#E0F2F7 ;
    }
}
.divbut{
    button{
        background: #81BEF7;
        color:#fff;
    }
}
.selectbox {
    font-family: SFNSDisplay;
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.1px;
    color: rgb(0, 0, 0);
    width: 100% !important;
    max-width: 100% !important;
    justify-content: center;
    border: solid 2px #e8ebf0;
    background-color: #E0F2F7;
    text-align: center;
  }