<ion-content>
  <div class="div1">
    <ion-card class="card">
      <div>
      <ion-card-content>
        <form [formGroup]="registerForm">
          <ion-item>
            <ion-input placeholder="Name" type="text" formControlName="name"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input placeholder="Email" type="email" formControlName="email"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input placeholder="Password" type="password" formControlName="password"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input placeholder="age" type="number" formControlName="age"></ion-input>
          </ion-item>
        </form>
        <ion-item>
          <div class="selectbox">
            <ion-select placeholder= "성별" okText="확인"  class="form-control" cancelText="취소" formControlName="gender">
              <ion-select-option value="남자">남자</ion-select-option>
              <ion-select-option value="여자">여자</ion-select-option>
            </ion-select>
          </div>
        </ion-item>
      </ion-card-content>
      </div>
      <div class="divbut">
        <button ion-button (click)="signUp()" style="width: 40%; height: 20px;"> sign up</button>
      </div>
      <div class="divbut">
        <button ion-button margin=10px (click)="goToBack()" style="width: 40%; height: 20px;">back</button>
      </div>
    </ion-card>
  </div>
</ion-content>
